:root {
    --white: rgba(255, 255, 255, 0.85); 
    --black: #000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

html,
body,
.pageBody,
#root {
    height: 100%;
    background-image: url("../public/fruits.jpeg");
}

.tabBody {
    margin: 0px auto;
    width: 500px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 19px 19px;
    background-color: var(--white);
    border-top: 0px;
    margin-right: 0px;
}

.bottomDiv {
    margin: 10px auto;
    width: 30%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
}


.btn:hover{
    background: rgba(0, 0, 0, 0.1);
}

.boxStyle {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 1px auto;
    flex-direction: row;
    border-radius: 19px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--black);
}
.leftHeader {
    font-size: 14px;
}

.swapIcon {
    cursor: pointer;
}

.getMax {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--white);
    border-radius: 19px;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.getMax:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px;
}

.boxTemplate {
    width: 75%;
    height: auto;
    display: flex;
    margin: 50px auto;
    padding: 0px 40px 20px 40px;
    flex-direction: column;
    border-radius: 19px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--black);
}
.boxStyle2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid var(--white);
}
.selectTab {
    width: 460px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 10px;
    margin-right: 0px;
    background-color: var(--white);
    border-radius: 19px 19px 0px 0px;
    padding: 0px 20px 0px 20px;
}
.myStyle1 {
    margin: 10px 30px;
    width: 30%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    margin: 10px 30px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 9px;
    cursor: pointer;
}

.textField {
    width: 70%;
    height: 30px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--black);
    border: 0px;
}
.textField:focus-visible {
    outline: none;
}

.boxBody {
    display: flex;
    justify-content: space-between;
    color: var(--black);
}
.rightContent {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px;
    font-weight: 700;
}
.center {
    text-align: center;
}

.tabStyle {
    text-align: center;
    width: 80px;
    padding: 5px;
    font: 18px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.tabStyle:hover {
    background: rgba(0, 0, 0, 0.1);
}

.activeTab {
    background: rgba(0, 0, 0, 0.1);
}

.swapIcon {
    width: 10%;
    text-align: center;
    display: flex;
    margin: 40px auto;
    color: var(--black);
}

svg {
    height: 50px;
    width: 50px;
}

.connectBtn {
    position: absolute;
    right: 50px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--black);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--black);
    border-radius: 15px;
}

.connectBtn:hover {
    color: var(--black);
    border: 3px solid #0cd62d;
}

.connected {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #0cd62d;
    color: var(--black);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--white);
    border-radius: 15px;
}

.details {
    padding: 15px 10px 15px 0px;
    width: 400px;
    height: fit-content;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
}

.withdrawEstimate {
    height: 30px;
    width: 75%;
    margin: 10px auto;
    color: var(--black);
}

.detailsBody {
    background-color: var(--white);
    width: 90%;
    padding: 10px;
    border-radius: 19px;
}

.detailsHeader {
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    margin-bottom: 15px;
}

.detailsRow {
    padding: 0px 25px;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.detailsAttribute {
    font: 18px;
    font-weight: 600;
    color: var(--black);
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.detailsValue {
    font: 18px;
    font-weight: 900;
    color: var(--black);
    display: flex;
    justify-content: center;
    width: 50%;
}

.centerBody {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

.navBar {
    height: 80px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    padding: 0px 30px;
}

.appName {
    font-size: 28px;
    font-weight: 800;
}

.error {
    color: var(--black);
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px;
}

@media only screen and (max-width: 1100px) {
    .centerBody {
        display: block;
    }
    .selectTab {
        margin: 0px auto;
        margin-top: 10px;
    }
    .tabBody {
        margin: 0px auto;
    }
    .details {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .detailsBody {
        width: 500px;
    }
    .navBar {
        justify-content: flex-start;
    }
}
